name: Build and Release

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.x

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r .\requirements.txt

    - name: Build exe
      run: pyinstaller --onefile "toolChonFile.py"

    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: toolChonFile
        path: dist/toolChonFile.exe
